


<html>
<body>
  <div class="wrapper">
    <div class="header">

    </div>
    <div class="body">
      <ul>
        {{#each model as |book|}}
        {{book-pile book=book destroyBook='destroyBook'}}
        {{/each}}
      </ul>
  <!-- adding new rental -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

      </div>
    </div>
    </div>
  </div>
</body>
</html>
